---
layout: default
---

<section class="text-center bg--primary">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>{{ page.title }}</h1>
                <p class="lead">
                    Stack's visual style is simple yet distinct, making it an ideal starting point for your project whether it be a basic marketing site, or multi-page company presence.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row">
                        {% for product in page.products %}
                            <div class="masonry__item col-lg-4 col-md-6 text-center">
                                <div class="project-thumb">
                                    <a href="#">
                                        <img alt="{{ product.name }}" class="border--round" src="{{ product.image }}" />
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                        {% endfor %}
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
