---
layout: default
---

<section class="text-center space--xxs">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Contact</h1>
                {% if page.description %}
                  <p class="lead">
                      {{ page.description }}
                  </p>
                {% endif %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable space--xxs">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7 col-xs-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.0040974730396!2d73.97688081506416!3d19.882048886630606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bde99bc00000001%3A0x61f2adbd34e4da18!2sSati+Plastics+%26+Chemicals+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1538648729215"></iframe>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="switchable__text">
          <h3>B-37, MIDC, Malegaon, Sinnar,
          <br />Nashik, Maharashtra 422113</h3>
          <p class="lead">
            E:
            <a href="mailto:ashish@satiplastics.com">ashish@satiplastics.com </a>
            <br /> P: <a href="tel:+919822095146">+91 98220 95146</a>
          </p>
          <p class="lead">
            Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.
          </p>
          <p class="lead">
            We are open from 9am &mdash; 5pm week days.
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
