<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% seo %}
    </head>
    <body class="{{ page.layout }}">
        <a id="start"></a>
        {% include header.html %}
        <div class="main-container">
            {{ content }}
            {% include footer.html %}
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="/scripts/jquery-3.1.1.min.js"></script>
        <script src="/scripts/flickity.min.js"></script>
        <script src="/scripts/parallax.js"></script>
        <script src="/scripts/isotope.min.js"></script>
        <script src="/scripts/smooth-scroll.min.js"></script>
        <script src="/scripts/scripts.js"></script>
    </body>
</html>
