---
layout: default
---

<section class="cover cover-features imagebg space--lg slider">
  {% for image in page.slider.images %}
  <div class="background-image-holder" style="background: url(&quot;{{ image }}&quot;);">
    <img alt="background" src="{{ image }}">
  </div>
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7">
        <div class="slider-text-block">
          <h1>
            {{ page.slider.title }}
          </h1>
          <p class="lead">
            {{ page.slider.lead }}
          </p>
          <a class="btn btn--primary type--uppercase" href="/portfolio">
            <span class="btn__text">
              View Our Portfolio
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      {% for card in page.slider.cards %}
      <div class="col-sm-4">
        <div class="feature feature-1 boxed boxed--border bg--white">
          <i class="icon icon--sm icon-{{ card.icon }} color--primary"></i>
          <h5 class="text-uppercase">{{ card.title }}</h5>
          <p>
            {{ card.text }}
          </p>
        </div>
        <!--end feature-->
      </div>
      {% endfor %}
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="feature-large switchable how-we-create">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img alt="Image" class="border--round box-shadow-wide" src="{{ page['how_we_create'].image }}">
      </div>
      <div class="col-md-5 col-sm-6 flex-vertical-center">
        <div class="text-block">
          <h3>{{ page['how_we_create'].title }}</h3>
          <p>
            {{ page['how_we_create'].text | newline_to_br }}
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center ">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
        <h2>Goals</h2>
      </div>
    </div>
    <div class="row">
      {% for goal in page.goals %}
      <div class="col-sm-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border">
          <i class="icon icon--lg icon-{{ goal.icon }}"></i>
          <h4>{{ goal.title }}</h4>
        </div>
        <!--end feature-->
      </div>
      {% endfor %}
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class=" ">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
        <h2>Our Main Offerings</h2>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="masonry">
        <div class="masonry__container masonry--active" style="position: relative; height: 956.218px;">
          {% for category in site.product_categories %}
          <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print" style="position: absolute; left: 0px; top: 0px;">
            <div class="project-thumb">
              <a href="#">
                <img alt="Image" class="border--round" src="{{ category.featured_image }}">
              </a>
              <h4>{{ category.title }}</h4>
            </div>
          </div>
          <!--end item-->
          {% endfor %}
        </div>
        <!--end of masonry container-->
      </div>
      <!--end masonry-->
    </div>
    <!--end of row-->
    <div class="text-center">
      <a class="btn btn--lg btn--primary" href="/portfolio">
        <span class="btn__text">View our Portfolio</span>
      </a>
    </div>
  </div>
  <!--end of container-->
</section>
