---
layout: default
---

<section class="cover cover-features imagebg space--lg" data-overlay="2">
  <div class="background-image-holder" style="background: url(&quot;/img/landing-factory-floor.jpg&quot;); opacity: 1;">
    <img alt="background" src="/img/landing-factory-floor.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7">
        <h1>
          Complexity Simplified
        </h1>
        <p class="lead">
          Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
        </p>
        <a class="btn btn--primary type--uppercase" href="#">
          <span class="btn__text">
            View Our Portfolio
          </span>
        </a>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-1 boxed boxed--border bg--white">
          <h5 class="text-uppercase">We Are Innovators</h5>
          <p>
            Maximize your market potential as we manufacture innovative plastic packaging for your product, with larger speed, quality and management than the competitors.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-1 boxed boxed--border bg--white">
          <h5 class="text-uppercase">We Are Leaders</h5>
          <p>
            Sati Plastics could be a leader within the field of rigid plastic packaging, job to associate array of industries like Pharmaceutical & Nutraceuticals, Cosmetics, Food & farm and Chemical.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-1 boxed boxed--border bg--white">
          <h5 class="text-uppercase">We Are Differentiators</h5>
          <p>
            Our decoration capabilities and price intercalary options shall differentiate your product and increase client price, therefore creating your complete stand out at the purpose of sale.
          </p>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="feature-large switchable ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img alt="Image" class="border--round box-shadow-wide" src="img/inner-5.jpg">
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="text-block">
          <h5>Goals</h5>
          <p>
            Optimise the customer’s cost, increase the customer's profit.<br> Endeavour to deliver, zero defect products and services to customers.<br> Continuously improving our process.
          </p>
        </div>
        <div class="text-block">
          <h5>How We Create</h5>
          <p>
            Simplifying and improving our processes continuously.<br> Optimizing our financial and physical resources.<br> Communicating openly, honestly and frequently.<br> Developing a highly motivated, valued and diverse workforce.<br> Collaborating,
            supporting and respecting one another.<br> Acting with absolute integrity.
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class=" ">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
        <h2>Our Main Offerings</h2>
      </div>
    </div>
    <div class="row">
      <div class="masonry">
        <div class="masonry__container masonry--active" style="position: relative; height: 956.218px;">
          <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print" style="position: absolute; left: 0px; top: 0px;">
            <div class="project-thumb">
              <a href="#">
                <img alt="Image" class="border--round" src="img/work-6.jpg">
              </a>
              <h4>Nike Active</h4>
            </div>
          </div>
          <!--end item-->
          <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print" style="position: absolute; left: 585px; top: 0px;">
            <div class="project-thumb">
              <a href="#">
                <img alt="Image" class="border--round" src="img/work-2.jpg">
              </a>
              <h4>Get Lost in Thailand</h4>
            </div>
          </div>
          <!--end item-->
          <div class="masonry__item col-sm-6 text-center filter-branding" data-masonry-filter="Branding" style="position: absolute; left: 0px; top: 478px;">
            <div class="project-thumb">
              <a href="#">
                <img alt="Image" class="border--round" src="img/work-3.jpg">
              </a>
              <h4>M&amp;D Stairs Company</h4>
            </div>
          </div>
          <!--end item-->
          <div class="masonry__item col-sm-6 text-center filter-branding" data-masonry-filter="Branding" style="position: absolute; left: 585px; top: 478px;">
            <div class="project-thumb">
              <a href="#">
                <img alt="Image" class="border--round" src="img/work-4.jpg">
              </a>
              <h4>Blossom Naturals</h4>
            </div>
          </div>
          <!--end item-->
        </div>
        <!--end of masonry container-->
      </div>
      <!--end masonry-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
