---
layout: default
---

<section class="text-center space--xxs">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Portfolio</h1>
                {% if page.description %}
                  <p class="lead">
                      {{ page.description }}
                  </p>
                {% endif %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="space--xxs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row">
                        {% for category in site.product_categories %}
                            <div class="masonry__item col-md-6 text-center">
                                <div class="project-thumb">
                                    <a href="{{ category.url }}">
                                        <img alt="{{ category.title }}" class="border--round" src="{{ category.featured_image }}" />
                                    </a>
                                    <h4>{{ category.title }}</h4>
                                </div>
                            </div>
                            <!--end item-->
                        {% endfor %}
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
